#page-home {
    height: 800px;
    background: url('../svg/msg.svg') no-repeat;
    background-position: 50vw bottom;
    background-size: 500px;
}

#page-home header {
    display: flex;
    align-items: center;
}

#page-home .header {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(70%, 1fr) 150px 150px;
    border-radius: 8px;
    background-color: #eeeeee;
    padding: 20px;
    box-shadow: 0px 5px 6px #bbbbbb;
}

#page-home .content {
    width: 90%;
    max-width: 1300px;
    margin-top: 0 auto;
    margin: 0 auto;
    flex-direction: column;
}

#page-home main {
    max-width: 560px;
    height: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1, p {
    margin-left: 25px;
}

#page-home main a {
    margin-left: 25px;

    width: 100%;
    max-width: 240px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--title-color);
    transition: 400ms;
}

#page-home main a:hover {
    background-color: #ffbb00;
}

#page-home main a span {
    

    width: 72px;
    height: 72px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span::after {
    content: "";
    background-image: url('../svg/conversacao.svg');
    background-size: 30px;
    width: 30px;
    height: 30px;
}

#page-home main a strong {
    flex: 1;
    color: white;
    text-align: center;
    font-size: 20px;
}

#page-home fieldset {
    /* margin-top: 64px; */
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #eeeeee;
}

.content2 img {
    margin-top: 20px;
    align-items: left;
}

.content2 h1 {
    margin-top: 25%;
    margin-right: 16px;
    text-align: right;
}

.content2 p {
    margin-right: 16px;
    text-align: right;
}

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
}

.content3 h1 {
    margin-top: 50%;
    margin-right: 16px;
    text-align: right;
}

.content3 p {
    margin-right: 16px;
    text-align: right;
}

.end {
    display: grid;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #eeeeee;
    padding: 20px;
}

.end P {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #bbbbbb69;
}